html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  user-select: none;
  color: rgb(29, 29, 31);
  background-color: white;
  color: white;
  line-height: 1.2;
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
}
p {
  line-height: 1.6;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  &:link {
    color: rgb(29, 29, 31);
  }
  &:visited {
    color: rgb(29, 29, 31);
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
input {
  border: none;
  outline: none;
}

.resort__search__bar__wrapper {
  width: 80%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  border-radius: 11px;
  padding: 0.8vw 1.5vw;
  max-width: 1200px;
  justify-content: space-between;
  margin: 9vw auto 0 auto;
  border: 0.5px solid rgba(99, 99, 99, 1);
  color: rgba(0, 0, 0, 1);
  div:nth-child(4) {
    border: none;
  }
  .search__btn__wrapper {
    padding: 0 1vw;
  }
}

.resort__search__input__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
  border-right: 0.5px dotted;
  position: relative;
  .select {
    font-weight: 700;
    font-size: 20px;
    color: rgba(0, 0, 0, 1) !important;
  }
  .selected__item {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    div {
      display: flex;
      align-items: center;
      gap: 2px;
      height: 25px;
      svg {
        width: 25px;
      }
      span {
        line-height: 1;
        color: rgba(153, 153, 153, 1);
        letter-spacing: normal;
      }
    }
    svg {
      width: 15px;
      transition: transform 0.2s ease-in;
    }
  }
  ul {
    color: rgba(153, 153, 153, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 1vw 27px;
    border-top: 0.5px solid rgba(0, 0, 0, 1);
    li {
      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}

.search__btn__wrapper {
  width: 100%;
  height: 100%;
  background-color: #2fb4e2;
  border: none;
  border-radius: 10px;
  color: white;
}

.hotel__header__section__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  letter-spacing: 0.5px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  &.mini {
    height: 25vw;
    overflow: hidden;
  }
  .bg__image {
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .header__info {
    position: absolute;
    width: 80%;
    max-width: 1200px;
    padding-top: 10vw;
    display: flex;
    flex-direction: column;
    .header__title {
      line-height: 1.45;
      letter-spacing: -1px;
      font-size: 2.3vw;
      font-weight: 700;
      margin-bottom: 0.6vw;
    }
    .header__subtitle {
      font-size: 1vw;
    }
    .header__loc__rating {
      display: flex;
      gap: 1vw;
      align-items: center;
      margin-bottom: 1.8vw;
      .header__location {
        font-size: 0.8vw;
      }
      .header__rating {
        width: 5vw;
        height: 1.2vw;
      }
    }
    .header__desc {
      font-size: 0.8vw;
      width: 35%;
      line-height: 1.8;
      word-break: keep-all;
    }
  }
}

.rating__board__wrapper {
  width: 100%;
  display: flex;
}

.rating__icon__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  .empty__star .filled__star {
    width: 100%;
    height: 100%;
  }
  .empty__star {
    position: absolute;
    top: 0;
    left: 0;
    fill: rgba(119, 119, 119, 1);
  }
  .filled__star {
    position: absolute;
    top: 0;
    left: 0;
    fill: rgba(252, 196, 0, 1);
    z-index: 2;
  }
}

.sub__text {
  color: rgba(119, 119, 119, 1);
  font-size: 0.83vw;
}

.acommodation__selector__wrapper {
  margin: 2.5vw auto;
  width: 80%;
  max-width: 1200px;
  color: rgba(51, 51, 51, 1);
  .selected__item__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.4vw;
    border-bottom: 0.2vw solid rgba(51, 51, 51, 1);
    margin-bottom: 2.5vw;
    .selected__item {
      font-weight: 500;
      line-height: 1.2;
      font-size: 1.25vw;
    }
    .extension__btn {
      width: 1.2vw;
      color: rgba(0, 0, 0, 1);
    }
  }
  .hotel__selector__wrapper {
    display: flex;
    letter-spacing: -1px;
    font-size: 0.83vw;
    gap: 0.52vw;
    span {
      padding: 0.4vw 2vw;
      border: 1px solid rgba(153, 153, 153, 1);
      border-radius: 7px;
      &.selected {
        background-color: rgba(2, 2, 2, 1);
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.image__selector__wrapper {
  width: 80%;
  margin: 0 auto 2vw auto;
  position: relative;
  max-width: 1200px;
  .images__grid__wrapper {
    display: grid;
    gap: 0.5vw;
    grid-template:
      "a a b" 1fr
      "a a c" 1fr;
    div {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    div:first-child {
      grid-area: a;
    }
    div:nth-child(2) {
      grid-area: b;
    }
    div:last-child {
      grid-area: c;
    }
  }
  .show__all__btn {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.33);
    font-size: 0.8vw;
    padding: 0.5vw 1vw;
    gap: 0.2vw;
    transition: background-color 0.2s ease-in;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    svg {
      width: 1vw;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

.sub__category__selector__wrapper {
  .sidebar__wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: rgba(51, 51, 51, 1);
    font-size: 1vw;
    margin-bottom: 1vw;
    span {
      line-height: 1;
      border-right: 1px solid rgba(148, 148, 148, 1);
      padding: 0 1vw;
      &.selected__sidebar {
        font-weight: 700;
        color: rgba(11, 11, 11, 1);
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  .button__wrapper {
    color: rgba(146, 146, 146, 1);
    font-size: 0.8vw;
    font-weight: 500;
    display: flex;
    gap: 0.5vw;
    margin-bottom: 1vw;
    span {
      line-height: 1;
      padding: 7px 17px;
      border: 1px solid rgba(187, 187, 187, 1);
      border-radius: 4px;
      transition: color 0.2s ease-in, background-color 0.2s ease-in;
      &.selected__button {
        border: none;
        background-color: rgba(36, 167, 212, 1);
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.category__selector__wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  display: grid;
  .underbar__selector {
    display: flex;
    justify-content: center;
    color: rgba(187, 187, 187, 1);
    border-bottom: 0.2vw solid rgba(187, 187, 187, 1);
    font-size: 1vw;
    padding-bottom: 0.5vw;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    line-height: 1.6;
  }
  .button__selector {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    background-color: rgba(243, 243, 243, 1);
    color: rgba(147, 147, 147, 1);
    height: 3.5vw;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
  }
  .select__underbar {
    color: rgba(0, 0, 0, 1);
    border-bottom: 0.2vw solid rgba(0, 0, 0, 1);
    font-weight: 700;
  }
  .select__button {
    background-color: rgba(40, 171, 225, 1);
    color: rgba(255, 255, 255, 1);
  }
}

.show__all__image__wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  .images__window__wrapper {
    width: 80%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 1);
    padding: 6vw 0;
    border-radius: 2.3vw;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    .close__btn {
      position: absolute;
      top: 1.5vw;
      right: 1.5vw;
      color: rgba(220, 220, 220, 1);
      width: 40px;
      cursor: pointer;
    }
  }
  .images__wrapper {
    width: 80%;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
    .main__images__wrapper {
      width: 100%;
      aspect-ratio: 1.68;
      position: relative;
      .main__images {
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1.68;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .btn__wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
        svg {
          position: absolute;
          top: 0;
          bottom: 0;
          color: rgba(220, 220, 220, 1);
          width: 4vw;
          z-index: 5;
          cursor: pointer;
        }
        .left__btn {
          transform: translate(-50%, -50%);
          left: -30px;
        }
        .right__btn {
          transform: translate(50%, -50%);
          right: -30px;
        }
      }
    }
    .images__items__list__wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 0.3vw;
      .images__item__wrapper {
        width: 100%;
        aspect-ratio: 1.5;
        overflow: hidden;
        position: relative;
        div {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.6);
          z-index: 4;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.info__items__wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 2.5vw auto;
  display: grid;
  grid-template-columns: 0.4fr 0.3fr 0.3fr;
  div {
    .item__title {
      display: inline-block;
      color: rgba(0, 0, 0, 1);
      font-size: 1.1vw;
      padding-bottom: 0.25vw;
      margin-bottom: 1.1vw;
      border-bottom: 1px solid rgba(43, 43, 43, 1);
    }
    ul {
      color: rgba(85, 85, 85, 1);
      font-size: 0.8vw;
      line-height: 1.6;
      .map__view__btn {
        margin-top: 1vw;
        width: 10vw;
        height: 2.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3vw;
        border: 1px solid rgba(47, 47, 47, 1);
        border-radius: 7px;
        cursor: pointer;
        svg {
          width: 1vw;
          height: 1vw;
        }
        span {
          font-size: 0.8vw;
          font-weight: 500;
        }
      }
      li {
        label {
          display: flex;
          gap: 0.7vw;
          margin-bottom: 0.7vw;
        }
        span {
          font-size: 0.9vw;
          line-height: 1;
          font-weight: 300;
          color: rgba(0, 0, 0, 1);
          &.select__room__type {
            font-weight: 600;
          }
        }
        input[type="radio"] {
          -webkit-appearance: none; // 웹킷 브라우저에서 기본 스타일 제거
          -moz-appearance: none; // 모질라 브라우저에서 기본 스타일 제거
          appearance: none; // 기본 브라우저에서 기본 스타일 제거
          width: 1vw;
          height: 1vw;
          border: 1px solid rgba(119, 119, 119, 1); // 체크되지 않았을 때의 테두리 색상
          border-radius: 50%;
          outline: none; // focus 시에 나타나는 기본 스타일 제거
          cursor: pointer;
          margin: 0;
        }
        // 체크 시 버튼 모양 스타일
        input[type="radio"]:checked {
          background-color: rgba(40, 171, 225, 1); // 체크 시 내부 원 색상
          border: 0.25vw solid #fff; // 라인이 아닌, 라인과 원 사이 색상
          box-shadow: 0 0 0 1px rgba(40, 171, 225, 1); // 라인
        }
      }
    }
  }
}

.select__package__byroom__wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 5vw auto;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5vw;
    .header__main {
      font-weight: 500;
      font-size: 1.2vw;
      color: rgba(0, 0, 0, 1);
    }
    .header__sub {
      color: rgba(51, 51, 51, 1);
      font-size: 0.83vw;
    }
  }
  .package__item__wrapper {
    border-radius: 7px;
    border: 1px solid rgba(187, 187, 187, 1);
    width: 100%;
    display: flex;
    overflow: hidden;
    .image__wrapper {
      width: 40%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .padding__wrapper {
      width: 60%;
      display: flex;
      padding: 3vw 0;
      .package__info__wrapper {
        width: 70%;
        color: rgba(0, 0, 0, 1);
        display: flex;
        padding: 0 3vw;
        flex-direction: column;
        justify-content: center;
        border-right: 1px dotted rgba(204, 204, 204, 1);
        .info__wrapper {
          display: flex;
          flex-direction: column;
          .info__title {
            font-size: 1.3vw;
            font-weight: 700;
            margin-right: 0.8vw;
            margin-bottom: 0.8vw;
          }
          .info__subtitle {
            font-size: 0.78vw;
            margin-bottom: 0.4vw;
          }
          .info__detail__wrapper {
            background-color: rgba(242, 247, 251, 1);
            border-radius: 1.3vw;
            display: flex;
            flex-direction: column;
            padding: 1vw 2vw;
            gap: 0.3vw;
            span {
              font-size: 0.78vw;
              color: rgba(68, 68, 68, 1);
            }
          }
        }
      }
      .package__price__wrapper {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .mb {
          margin-bottom: 0.5vw;
        }
        .price__wrapper {
          display: flex;
          align-items: end;
          gap: 0.3vw;
          .price__main {
            font-size: 1.1vw;
            color: rgba(0, 0, 0, 1);
            line-height: 1;
          }
        }
        .price__sub {
          font-size: 0.67vw;
          color: rgba(85, 85, 85, 1);
        }
      }
    }
  }
}

.select__btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(85, 85, 85, 1);
  gap: 0.52vw;
  padding: 0.52vw 1.1vw;
  border: 1px solid rgba(85, 85, 85, 1);
  border-radius: 0.26vw;
  cursor: pointer;
  &.checked {
    border: 1px solid rgba(36, 167, 212, 1);
    background-color: rgba(36, 167, 212, 1);
    color: rgba(253, 253, 253, 1);
  }
  span {
    font-size: 0.78vw;
  }
  svg {
    width: 0.78vw;
  }
}

.schedule__byairline__wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 5vw auto;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5vw;
    .header__main {
      font-weight: 500;
      font-size: 1.2vw;
      color: rgba(0, 0, 0, 1);
    }
    .header__sub {
      color: rgba(51, 51, 51, 1);
      font-size: 0.83vw;
    }
  }
  .flight__items__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
  }
}

.flight__item__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 0.25fr 0.58fr 0.17fr;
  color: rgba(51, 51, 51, 1);
  border-radius: 7px;
  border: 1px solid rgba(187, 187, 187, 1);
  padding: 1vw;
  font-size: 0.78vw;
  & > div {
    border-right: 1px dotted rgba(204, 204, 204, 1);
  }
  & > div:last-child {
    border: none;
  }
  .airline__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7vw;
    span {
      line-height: 1;
    }
    img {
      width: 1.8vw;
      height: 1.8vw;
    }
  }
  .flight__schedule__wrapper {
    display: flex;
    align-items: center;
    padding: 0 3vw;
    width: 100%;
    .flight__schedule {
      width: 60%;
      display: flex;
      gap: 0.3vw;
    }
  }
  .flight__select__btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.single__header__main {
  font-weight: 500;
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 0.5vw;
}

.mx__section {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 5vw auto;
}

.included__items__section__wrapper {
  .included__items__wrapper {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    border-top: 1px solid rgba(0, 0, 0, 1);
    & > div {
      border-bottom: 1px solid rgba(187, 187, 187, 1);
    }
    & > div:nth-of-type(odd) {
      border-right: 1px solid rgba(187, 187, 187, 1);
    }
    .index__title__wrapper {
      display: flex;
      color: rgba(0, 0, 0, 1);
      gap: 1vw;
      font-size: 1vw;
      justify-content: center;
      align-items: center;
      background-color: rgba(248, 248, 248, 1);

      .included__icon {
        font-size: 1.5vw;
        font-weight: 700;
        color: rgba(40, 171, 225, 1);
      }
      .unincluded__icon {
        font-size: 1.5vw;
        font-weight: 700;
        color: rgba(224, 49, 49, 1);
      }
    }
    .elements__wrapper {
      display: flex;
      flex-direction: column;
      color: rgba(51, 51, 51, 1);
      font-size: 0.78vw;
      gap: 0.2vw;
      padding: 1vw 2vw;
    }
  }
}

.must__read__section__wrapper {
  .must__read__wrapper {
    display: flex;
    flex-direction: column;
    color: rgba(51, 51, 51, 1);
    font-size: 0.78vw;
    gap: 0.2vw;
    padding: 1vw 0;
    border-top: 1px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(187, 187, 187, 1);
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5vw;
  .header__main {
    font-weight: 500;
    font-size: 1.2vw;
    color: rgba(0, 0, 0, 1);
  }
  .header__sub {
    color: rgba(51, 51, 51, 1);
    font-size: 0.83vw;
  }
}

.schedule__tables__wrapper {
  display: flex;
  flex-direction: column;
  .schedule__table__wrapper {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 1);
    }
    .schedule__header {
      display: flex;
      align-items: center;
      gap: 1.5vw;
      padding: 1vw 3.5vw;
      background-color: rgba(248, 248, 248, 1);
      border-bottom: 1px solid rgba(224, 224, 224, 1);
      .main__text {
        font-size: 1.3vw;
        font-weight: 700;
        line-height: 1;
      }
      .sub__text {
        font-size: 1.1vw;
        line-height: 1;
      }
    }
    .schedule__main__wrapper {
      padding: 2vw;
      border-bottom: 1px solid rgba(224, 224, 224, 1);
    }
  }
}

.flight__schedule__board__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vw;
  .flight__schedule__board {
    display: flex;
    flex-direction: column;
    width: 40%;
    .flight__info__wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: flex-end;
      padding: 0.5vw 0;
      gap: 0.4vw;
      border-bottom: 1px solid rgba(0, 0, 0, 1);
      img {
        width: 0.94vw;
      }
      span {
        font-size: 0.78vw;
        line-height: 1;
      }
    }
    .flight__time__wrapper {
      display: flex;
      justify-content: center;
      margin-top: 0.5vw;
      position: relative;
      .flight__time {
        color: rgba(104, 104, 104, 1);
        font-size: 0.73vw;
      }
      & > div {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        .time__text {
          font-size: 1.2vw;
          font-weight: 700;
        }
        .airport__text {
          font-size: 0.78vw;
        }
        div {
          width: 0.625vw;
          height: 0.625vw;
          border: 1px solid rgba(0, 0, 0, 1);
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 1);
          margin-bottom: 0.4vw;
        }
      }
      .depart__info {
        left: 0;
        transform: translate(-50%, -0.85vw);
      }
      .arrive__info {
        right: 0;
        transform: translate(50%, -0.85vw);
      }
    }
  }
}

.additional__schedule__wrapper {
  display: flex;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  &:last-child {
    border: none;
  }
  .index__wrapper {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7vw;
    padding: 0.7vw 0;
    svg {
      width: 1.84vw;
    }
    span {
      font-size: 0.94vw;
      line-height: 1;
    }
  }
  & > div:last-child {
    display: flex;
    align-items: center;
    font-size: 0.78vw;
    padding: 0 3vw;
    color: rgba(51, 51, 51, 1);
    &.meal__info__wrapper {
      gap: 10vw;
    }
    &.hotel__info__wrapper {
      gap: 1.5vw;
      div {
        width: 5vw;
        display: flex;
        align-items: center;
        margin-bottom: 0.32vw;
      }
    }
  }
}
